<h3>Update a Product</h3>
<form action="/products/update" method="post">
    Name: <input type="text" name='name' value='<%= product.name %>'><br>
    Description: <input type="text" name='description' value='<%= product.description %>'><br>
    Price: <input type="text" name='price' value='<%= product.price %>'><br>
    Date of Release: <input type="date" name='dateOfRelease' value='<%= product.dateOfRelease %>'><br>
    <input type="text" name='id' value='<%= product.id %>' hidden readonly>
    <input type="submit" value="Update Product">
</form>